@page "/PrefectureEdit/{CurrentID}"
@using GASEC_RCA.Data
@using GASEC_RCA.ServiceResultat
@using GASEC_RCA.Service
@using MatBlazor;
@using MudBlazor;
@inject RegionResultatService regionResultatService
@inject PrefectureResultatService prefectureResultatService
@inject PrefectureQuery PrefectureService
@inject NavigationManager NavigationManager

@* <h3>RegionEdit</h3> *@

<MudCard Elevation="2">
	<MudGrid>
		<MudItem xs="12">
			<MudCardHeader>
				<CardHeaderContent>
					<MudText Typo="Typo.h6">Préfecture</MudText>
				</CardHeaderContent>
			</MudCardHeader>
			<MudCardContent>
				<form>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<p>
									<div class="text-field-container">
										<MudTextField @bind-Value="@objPrf.PRF_ID" Label="ID" FullWidth="true"></MudTextField>
									</div>
								</p>

								<p>
									<div class="text-field-container">
										<MudTextField @bind-Value="@objPrf.PRF_NOM" Label="PREFECTURE" FullWidth="true"></MudTextField>
									</div>
								</p>

								<p>
									<MudStack Row Class="justify-space-between mud-width-full">
										<MudStack Style="width: 300px">
											<MudSelect Label="Région" @bind-Value="objPrf.REG_ID"
													   Margin="_margin"
													   Dense="_dense"
													   Disabled="_disabled"
													   ReadOnly="_readonly"
													   Placeholder="@(_placeholder ? "Placeholder" : null)"
													   HelperText="@(_helperText ? "Helper Text" : null)"
													   HelperTextOnFocus="_helperTextOnFocus"
													   Clearable="_clearable">
												@foreach (var prefecture in objRegion)
												{
													<MudSelectItem Value="prefecture.REG_ID">@prefecture.REG_NOM</MudSelectItem>

													
												}
											</MudSelect>
										</MudStack>
									</MudStack>
								</p>

							</div>

						</div>
					</div>

					<div class="row-mt-5">
						<div class="col-md-4">
							<div class="form-group">

								<MudButtonGroup Color="Color.Tertiary" Size="Size.Large" Variant="Variant.Filled">
									<MudButton @onclick=@UpdatePrefecteure>Modifier</MudButton>
								</MudButtonGroup>

								<MudButtonGroup Color="Color.Secondary" Size="Size.Large" Variant="Variant.Filled">
									<MudButton @onclick=@Cancel>Annuler</MudButton>
								</MudButtonGroup>
							</div>
						</div>
					</div>

				</form>
			</MudCardContent>
		</MudItem>
	</MudGrid>
</MudCard>


@code {
	[Parameter]
	public string CurrentID { get; set; }
	List<Region> objRegion = new List<Region>();
	Prefecture objPrf = new Prefecture();

	protected override async Task OnInitializedAsync()
	{
		objRegion = await Task.Run(() => regionResultatService.GetAllRegion());
		objPrf = await Task.Run(() => prefectureResultatService.GetPrefectureByID(Convert.ToInt32(CurrentID)));
	}

	protected void UpdatePrefecteure()
	{
		prefectureResultatService.UptdatePrefecture(objPrf);
		NavigationManager.NavigateTo("/Prefecture/PrefecturePage");
	}

	void Cancel()
	{
		NavigationManager.NavigateTo("/Prefecture/PrefecturePage");
	}

	string _value;
	Margin _margin;
	bool _dense;
	bool _disabled;
	bool _readonly;
	bool _placeholder;
	bool _helperText;
	bool _helperTextOnFocus;
	bool _clearable;

}

